@model List<DisplayDishResponse>
<div class="row menu-body">
@foreach (var item in Model)
{        
    <input type="hidden" asp-for="@item.CategoryId">
    <div class="col-lg-6 menu-section">
        <div class="menu-item">
            <div class="row no-gutters">
                <div class="col-9 menu-item-name">
                    <h6>@item.Name</h6>
                </div>
                <div class="col-3 menu-item-price text-right">
                    <h6>@item.Price</h6>
                </div>
            </div>
            <div class="menu-item-description">
                <p>@item.Description</p>
            </div>
        </div>
    </div>
}
</div>
